@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="section__hero-content">
    <h1>JodiTest</h1>
    <h1 class="no-air">@Model.Content.GetPropertyValue("PageTitle")</h1>
    <img src="@Model.Content.GetPropertyValue("Image")" alt="@Model.Content.GetPropertyValue("PageTitle")">
</div>